In [139]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
#(or)from sklearn.naive_bayes import MultinomialNB

In [53]:
data=pd.read_csv("C:\\Users\\kasuk\\OneDrive\\Desktop\\python files\\email spam.csv")

In [54]:
data.shape

(5572, 2)

In [55]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [86]:
mail_data=data.where((pd.notnull(data)),'')

In [87]:
encoder=LabelEncoder()

In [88]:
mail_data['Category']=encoder.fit_transform(mail_data['Category'])

In [89]:
mail_data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [123]:
extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')

In [124]:
x=extraction.fit_transform(mail_data['Message'])

In [126]:
y=data['Category']

In [127]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)

In [140]:
model=SVC()

In [141]:
model.fit(xtrain,ytrain)

SVC()

In [142]:
x_train_prediction=model.predict(xtrain)

In [143]:
accuracy_score(x_train_prediction,ytrain)

0.9975319721785955

In [144]:
x_test_prediction=model.predict(xtest)

In [145]:
accuracy_score(x_test_prediction,ytest)

0.9757847533632287